---
http_interactions:
- request:
    method: get
    uri: https://overwatch-api.net/api/v1/hero
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5218e9cdd083980f0f22b3cf6d9481ca"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '494'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "total": 24,
            "first": "http:\/\/overwatch-api.net\/api\/v1\/hero?page=1",
            "next": null,
            "previous": null,
            "last": "http:\/\/overwatch-api.net\/api\/v1\/hero?page=1",
            "data": [
                {
                    "id": 1,
                    "name": "Ana",
                    "description": "Ana\u2019s versatile arsenal allows her to affect heroes all over the battlefield. Her Biotic Rifle rounds and Biotic Grenades heal allies and damage or impair enemies; her sidearm tranquilizes key targets, and Nano Boost gives one of her comrades a considerable increase in power.",
                    "health": 200,
                    "armour": 0,
                    "shield": 0,
                    "real_name": "Ana Amari",
                    "age": 60,
                    "height": null,
                    "affiliation": "Overwatch",
                    "base_of_operations": "Cairo, Egypt",
                    "difficulty": 3,
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/hero\/1"
                },
                {
                    "id": 2,
                    "name": "Bastion",
                    "description": "Repair protocols and the ability to transform between stationary Assault, mobile Recon and devastating Tank configurations provide Bastion with a high probability of victory.",
                    "health": 200,
                    "armour": 100,
                    "shield": 0,
                    "real_name[...]
[...]
- request:
    method: get
    uri: https://overwatch-api.net/api/v1/ability
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80011b308aabe74efb3d62312e8209b1"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "total": 114,
            "first": "http:\/\/overwatch-api.net\/api\/v1\/ability?page=1",
            "next": "http:\/\/overwatch-api.net\/api\/v1\/ability?page=2",
            "previous": null,
            "last": "http:\/\/overwatch-api.net\/api\/v1\/ability?page=3",
            "data": [
                {
                    "id": 1,
                    "name": "Biotic Rifle",
                    "description": "Ana\u2019s rifle shoots darts that can restore health to her allies or deal ongoing damage to her enemies. She can use the rifle\u2019s scope to zoom in on targets and make highly accurate shots.",
                    "is_ultimate": false,
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/ability\/1",
                    "hero": {
                        "id": 1,
                        "name": "Ana",
                        "description": "Ana\u2019s versatile arsenal allows her to affect heroes all over the battlefield. Her Biotic Rifle rounds and Biotic Grenades heal allies and damage or impair enemies; her sidearm tranquilizes key targets, and Nano Boost gives one of her comrades a considerable increase in power.",
                        "health": 200,
                        "armour": 0,
                        "[...]
- request:
    method: get
    uri: http://overwatch-api.net/api/v1/ability?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://overwatch-api.net/api/v1/ability?page=2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Mar 2019 00:22:12 GMT
- request:
    method: get
    uri: https://overwatch-api.net/api/v1/ability?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ecf3c0360c9c69da14fc7b0727420b0"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '493'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "total": 114,
      [...]
[...]
